!!! 5
html
  head
    link(rel='shortcut icon', href:'/favicon.ico')
    title= typeof(title) !== 'undefined' ? title : 'Solo Kota Kita SMS'
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    .navbar
      .navbar-inner
        .container
          a.brand(href="/") Solo Kota Kita SMS
          .nav-collapse
            ul#top-menu.nav
              li
                a(href="/results") Results
              li
                a(href="/messageLog") Message Log
              li
                a(href="/tester") Test Survey
              li
                a(href="/logout") Logout
    #content!= body
    
    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/script.js')
    
    //if lt IE 7
      script(defer, src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
      script.
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
