form#login.well(action="/sessions/create", method="POST")
  .control-group
    h2 Login to Solo Kota Kita
    - if (typeof(error) != 'undefined')
      div.error= error
    div
      input(type="text", placeholder="username", name="username")
    div
      input(type="password", placeholder="password", name="password")
  input.btn.btn-primary(type="submit", value="Login")
