h2 Create New User for Solo Kota Kita
form#signup.well(action="/users/create", method="POST")
  .control-group
    if (error)
      div.error= error
    div
      input(type="text", placeholder="username", name="username")
    div
      input(type="password", placeholder="password", name="password")
    div
      input(type="password", placeholder="password again", name="passwordAgain")
  input.btn(type="submit", value="Add User")
