#content {
  width: 940px;
  margin: 0 auto;
}

.error {
  color: #b94a48;
}

.navigation {
  text-align: center;
  padding: 10px 0;
}

.navigation a {
  padding: 0 4px;
  font-size: 14px;
}

.navigation a.current {
  color: #000;
  font-weight: bold;
}

#questions {
  margin-bottom: 10px;
}

#questions .question {
  margin-top: 8px;
  font-weight: bold;
}

#answers {
  display: none;
}

#answers input[type="submit"] {
  margin-left: 5px;
}
